nav{
    display: grid;
    grid-template-columns: auto 150px;
    grid-template-areas: "header button";
  }
  
  button{
    border-radius: 32px;
    padding: 5px 24px;
    min-width: 150px;
    max-width: 150px;
    grid-area: button;
    max-height: 44px;
    align-self: center;
  }
  
  h1{
    font-weight: bold;
    grid-area: header;
  }
  